@using RXGroupApp.Models
@using RXGroupApp.Controllers

@model Book

@{
    ViewBag.Title = "Создать книгу";
}

@using (Html.BeginForm(nameof(BooksController.Create), "Books", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Название книги", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author, "Автор", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Author, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Author)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Article, "Артикль", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Article, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Article)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.YearCreated, "Год издания", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.YearCreated, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.YearCreated)
        </div>
    </div>
    <p><input type="submit" value="Отправить" /></p>
}
