@using RXGroupApp.Models
@using RXGroupApp.Controllers

@model Book

@{
    ViewBag.Title = "Создать книгу";
}

@using (Html.BeginForm(nameof(BooksController.Create), "Books", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <p>
            @Html.LabelFor(m => m.Name, "Название книги")
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </p>
        <br />
        <p>
            @Html.LabelFor(m => m.Author, "Автор")
            @Html.EditorFor(m => m.Author)
            @Html.ValidationMessageFor(m => m.Author)
        </p>
        <br />
        <p>
            @Html.LabelFor(m => m.Article, "Артикль")
            @Html.EditorFor(m => m.Article)
            @Html.ValidationMessageFor(m => m.Article)
        </p>
        <br />
        <p>
            @Html.LabelFor(m => m.YearCreated, "Год издания")
            @Html.EditorFor(m => m.YearCreated)
            @Html.ValidationMessageFor(m => m.YearCreated)
        </p>
        <br />
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}
